@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: rgb(36, 185, 22);
}

body {
    font-family: "Roboto", serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.3rem;
}

main {
    width: 600px;
    margin: 50px auto;
}

h1 {
    color: var(--primaryColor);
}

h1 svg {
   width: 40px; 
}

#header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 8px 35px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--primaryColor);
}

button {
    background: var(--primaryColor);
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

div#game:focus {
    outline:0;
}

#words {
    transition: filter 0.3s ease;
    color: var(--textSecondary);
}


#focus-error {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

div.word {
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin: 0 10px;
}

.letter.correct {
    color: #fff;
}

.letter.incorrect {
    color: #f55;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cursor {
    width: 2px;
    height: 1.5rem;
    background: var(--primaryColor);
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.1s, left 0.1s;
    animation: blink 0.5s infinite;
}

#game:focus #cursor {
    display:block;
}

#game.over #focus-error {
    display: none;
}

#game:focus #focus-error {
    display:none;
}

